.border-radius-inherit {
  border-radius: inherit;
}

.remove-number-selector::-webkit-outer-spin-button,
.remove-number-selector::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-number-selector[type='number'] {
  -moz-appearance: textfield;
}

.custom-placeholder::-moz-placeholder {
  color: #b6b6b6;
  font-weight: 600;
}

.custom-placeholder::placeholder {
  color: #b6b6b6;
  font-weight: 600;
}

.custom-placeholder-icon {
  font-weight: 600 !important;
}
