.ratings-bar {
  margin-bottom: 0.625rem;
  display: flex;
}
@media (min-width: 1025px) {
  .ratings-bar {
    margin-bottom: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .ratings-bar :hover {
    --tw-bg-opacity: 1;
    background-color: rgb(136 84 191 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}
.rating-circle {
  box-sizing: border-box;
  display: flex;
  width: 27px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(151 151 151 / var(--tw-border-opacity));
  padding: 7px 11px;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: -0.01em;
}
.rating-circle:first-child {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.rating-circle:last-child {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
@media (min-width: 1025px) {
  .rating-circle {
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 50%;
    padding: 9px 15px;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: -0.015em;
  }
}
@media screen and (min-width: 768px) {
  .rating-circle:not(:last-child) {
    margin-right: 1rem;
  }
}
