.org-confirm-list::-webkit-scrollbar {
  width: 8px;
}
.org-confirm-list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #0000004d;
  border-radius: 4px;
}
.org-confirm-list::-webkit-scrollbar-track {
  background: none;
}
.fetch-button,
.state-dropdown {
  height: 2.5rem;
}
