.peekaboo-container {
  z-index: 999999;
  animation: slide-in-381d42a9 0.3s ease-in;
}
@keyframes slide-in-381d42a9 {
  0% {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}
