@keyframes slide-635bc1e4 {
  0% {
    background-position-x: 0;
  }
  to {
    background-position-x: 2000px;
  }
}
.determinate-progress {
  background-image: repeating-linear-gradient(
    135deg,
    transparent,
    transparent 6px,
    #a076cc 6px,
    #a076cc 15px
  );
  animation: slide-635bc1e4 50s linear infinite;
  transition: transform 0.2s;
  transform: translate(-100%);
}
.indeterminate-progress {
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    135deg,
    transparent,
    transparent 6px,
    #a076cc 6px,
    #a076cc 15px
  );
  animation: indeterminate-slide-635bc1e4 1.5s linear infinite;
}
@keyframes indeterminate-slide-635bc1e4 {
  0% {
    transform: translate(-100%);
  }
  to {
    transform: translate(100%);
  }
}
