.radiobox__circle:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radiobox__input {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.radiobox__input:hover + label {
  color: #6d6d6d;
}
.radiobox__input:disabled + label {
  color: #424242;
}
.radiobox__input:disabled + label .radiobox__circle {
  background: #e5e5e5;
}
.radiobox__input:not(:checked) + label:before {
  border-width: 1px !important;
}
.radiobox__input:checked + label.lilac .radiobox__circle {
  border-color: #8854c0;
}
.radiobox__input:checked + label.lilac .radiobox__circle:before {
  background: #8854c0;
}
.radiobox__input:checked + label.yellow .radiobox__circle {
  border-color: #efa929;
}
.radiobox__input:checked + label.yellow .radiobox__circle:before {
  background: #efa929;
}
.radiobox__input:checked + label .radiobox__circle {
  border-color: #00a06a;
}
.radiobox__input:checked + label .radiobox__circle:before {
  background: #00a06a;
}
.radiobox__input:checked:disabled + label .radiobox__circle {
  background: #e5e5e5;
  border-color: #09090933;
}
.radiobox__input:checked:disabled + label .radiobox__circle:before {
  background: #09090933;
}
.radiobox__label .radiobox__circle {
  content: '';
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border-style: solid;
  border-radius: 50%;
}
.radiobox__label .radiobox__circle.radio-trailing {
  margin-right: 0;
}
.radiobox__label.leading-label .radiobox__circle {
  margin-left: 10px;
  margin-right: 0;
}
.radiobox.lg .radiobox__label {
  font-size: 16px;
}
.radiobox.lg .radiobox__label .radiobox__circle {
  width: 20px;
  height: 20px;
  border-width: 2px;
}
.radiobox.lg .radiobox__label .radiobox__circle:before {
  height: 10px;
  width: 10px;
}
.radiobox.md .radiobox__label {
  font-size: 14px;
}
.radiobox.md .radiobox__label .radiobox__circle {
  width: 16px;
  height: 16px;
  border-width: 2px;
}
.radiobox.md .radiobox__label .radiobox__circle:before {
  height: 8px;
  width: 8px;
}
.radiobox.sm .radiobox__label {
  font-size: 12px;
}
.radiobox.sm .radiobox__label .radiobox__circle {
  width: 12px;
  height: 12px;
  border-width: 1px;
}
.radiobox.sm .radiobox__label .radiobox__circle:before {
  height: 6px;
  width: 6px;
}
.radiobox.xs .radiobox__label {
  font-size: 11px;
}
.radiobox.xs .radiobox__label .radiobox__circle {
  width: 12px;
  height: 12px;
  border-width: 1px;
}
.radiobox.xs .radiobox__label .radiobox__circle:before {
  height: 6px;
  width: 6px;
}
