.rich-text-raw-elements h1,
.truncated-text-modal-container h1 {
  display: block;
  font-size: 1.6rem;
  margin-block-start: 0.67rem;
  margin-block-end: 0.67rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 700;
}
.rich-text-raw-elements h2,
.truncated-text-modal-container h2 {
  display: block;
  font-size: 1.3rem;
  margin-block-start: 0.83rem;
  margin-block-end: 0.83rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 700;
}
.rich-text-raw-elements p,
.truncated-text-modal-container p {
  font-weight: 400;
  margin: 0.5rem 0;
}
.rich-text-raw-elements ul,
.truncated-text-modal-container ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 2.5rem;
}
.rich-text-raw-elements ol,
.truncated-text-modal-container ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 2.5rem;
}
.rich-text-raw-elements ul ul,
.truncated-text-modal-container ul ul,
.rich-text-raw-elements ul ol,
.truncated-text-modal-container ul ol,
.rich-text-raw-elements ol ul,
.truncated-text-modal-container ol ul,
.rich-text-raw-elements ol ol,
.truncated-text-modal-container ol ol {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 2.5rem;
}
.rich-text-raw-elements li,
.truncated-text-modal-container li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.rich-text-raw-elements iframe,
.truncated-text-modal-container iframe {
  margin: 1rem auto;
  border-radius: 0.5rem;
  width: 80%;
}
.truncated-text-container :is(img, audio, video) {
  display: none;
}
.truncated-text-container :is(img, audio, video):nth-of-type(1) {
  display: block;
}
.truncated-text-container img:nth-of-type(1) ~ :is(audio, video) {
  display: none;
}
.truncated-text-container audio:nth-of-type(1) ~ :is(img, video) {
  display: none;
}
.truncated-text-container video:nth-of-type(1) ~ :is(img, audio) {
  display: none;
}
.truncated-text-modal-container {
  display: flex;
  flex-direction: column;
}
.truncated-text-modal-container :is(img, audio, video) {
  margin: auto;
}
