#notification-message strong {
    font-weight: 600
}

.border-b-width {
    border-bottom-width: .5px
}

.bg-banner {
    background-color: #f4f0f8
}

@keyframes slide-153aca9a {
    0% {
        transform: translate(-100%)
    }

    to {
        transform: translate(100%)
    }
}

.notif-dimension[data-v-153aca9a] {
    width: 100%;
    z-index: 103;
    max-height: 100vh;
    margin-right: 0;
    border-radius: 0;
    margin-top: 0
}

@media (min-width: 1025px) {
    .notif-dimension[data-v-153aca9a] {
        max-height: 608px;
        height: auto;
        width: 360px;
        margin-top: 56px;
        margin-right: .5rem;
        border-radius: .5rem
    }
}

.shine-div[data-v-153aca9a] {
    position: relative;
    overflow: hidden
}

.shine-div[data-v-153aca9a]:after {
    content: "";
    top: 0;
    transform: translate(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    animation: slide-153aca9a 1.5s infinite;
    background: linear-gradient(to right, #fff0, #ffffff4d 50%, #80bae800 99%, #7db9e800);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff", endColorstr="#007db9e8", GradientType=1)
}

.selectbox-inner[data-v-6bc71e86] div[aria-live=assertive] {
    width: -moz-max-content;
    width: max-content
}

.qfw-header {
    width: 90%;
    max-width: 1280px;
    transition: width 400 ease-in-out
}