.sidebar-navigation .link.selected[data-v-8a75653a] {
    box-shadow: inset -4px 0 #8854c0
}

.create-btn-container[data-v-8a75653a] {
    width: -moz-fit-content;
    width: fit-content
}

.sidebar-card[data-v-0e172fd1] {
    border: 1px solid rgba(255, 164, 2, .2);
    border-top: 3px solid #ffa402
}

.sidebar-card[data-v-14dc1098] {
    border: 1px solid rgba(255, 164, 2, .2);
    border-top: 3px solid #ffa402;
    max-width: 10.5rem
}

.paid-org-dropdown-btn[data-v-c2c89d46] {
    color: #000
}

.paid-org-dropdown-btn[data-v-c2c89d46]:hover {
    background-color: #0909090d
}

.filter-box-shadow[data-v-332ab5ae] {
    transform: scale(1);
    box-shadow: 0 2px 4px #00000014
}