.navbar {
  .tab.active {
    color: #2c4a9f;
  }
  .avatar {
    height: 40px;
    width: 40px;
    background: #2c4a9f;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
  }
}

.input-search {
}

.card {
  aspect-ratio: 0.9;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .card-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    p {
      color: white;
      text-shadow: black 0.2em 0.2em 0.3em;
    }
  }
}

.upload-file {
  width: 100%;
  height: 20rem;
  .ant-upload.ant-upload-select-picture-card {
    width: 100%;
    height: 100%;
  }
  .ant-upload-list {
    height: 100%;
  }
}

.answer {
  height: 4.5rem;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  &-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: white;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    font-size: 18px;
    margin-right: 0.75rem;
    color: black;
  }
  &-green {
    background: rgb(13, 202, 13);
    color: white;
  }
}

.question {
  &-list {
    height: calc(100vh - 85px);
    overflow: auto;
  }
  &-item {
    border-radius: 8px;
    border: 1px dashed green;
  }
}

.category {
  background: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
