.progress-container:after {
  position: absolute;
  display: block;
  height: var(--dimension);
  width: var(--dimension);
  left: 50%;
  top: 50%;
  content: attr(data-val);
  margin-top: var(--margin);
  margin-left: var(--margin);
  border-radius: 100%;
  line-height: var(--dimension);
  font-size: var(--labelFontSize);
  font-weight: var(--labelFontWeight);
  color: var(--labelColor);
  text-align: center;
}
.progress-container .progress-svg {
  transform: rotate(-90deg);
}
.progress-container .progress-svg circle {
  transition: stroke-dashoffset 1.5s ease-out;
}
