.loading-state {
  color: transparent;
  border-radius: 4px;
  background: #0909091a;
  line-height: 12px;
}
.super-lozenge {
  left: 50%;
  transform: translate(calc(-50% - 4px));
  top: 0;
  border-radius: 0 0 4px 4px;
}
