.folder-details-container {
  scroll-behavior: smooth;
}
.banner-image-container {
  width: 140px;
  min-height: 73px;
  position: relative;
}
.banner-image-container .banner-image {
  position: absolute;
  left: 8px;
  bottom: -1px;
}
.content-modal-height {
  height: 250px;
}
.content-modal-height.first-folder {
  height: 300px;
}
