.font-open-sans,
.font-open-sans {
  font-family: Open Sans, sans-serif !important;
}
.slide {
  transition: transform 0.2s ease-in-out;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.16));
}
.slide:hover {
  transform: scale(1.2) translateZ(0);
  backface-visibility: hidden;
}
.slide-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
}
.import-info-title {
  box-shadow: 0 2px 4px #0000001a;
  border-radius: 4px;
}
.import-pdf-modal .modal-container {
  padding: 2rem;
}
.import-pdf-modal .footer {
  margin-top: 1.5rem;
}
.pdf-input {
  font-size: 0px;
}
.pdf-input::-webkit-file-upload-button {
  cursor: pointer;
}
