.name {
  color: #222;
}
.name span {
  word-break: break-word;
}
.quiz-card:hover .quiz-card-share-info {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity));
}
.quiz-card:hover .quiz-card-share-info.with-share-caret:after {
  border-bottom-color: #f2f2f2;
}
.quiz-card-share-info.with-share-caret {
  position: relative;
}
.quiz-card-share-info.with-share-caret:after {
  content: '';
  position: absolute;
  right: 20px;
  top: -14px;
  width: 0;
  height: 0;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 14px solid #f9f9f9;
  clear: both;
}
.userName,
.question-grade,
.final-grade {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.question-grade {
  flex-wrap: nowrap;
}
