.question-query-container {
  font-size: 104px;
  max-height: 55%;
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-family: Quicksand, Source Sans Pro, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}
