.time-toast {
  width: 100%;
  padding: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(34 34 34 / var(--tw-bg-opacity));
  min-height: 100%;
}
.Vue-Toastification__icon {
  display: none;
}
.bg-inherit {
  background: inherit !important;
}
.changeforall {
  min-width: inherit !important;
}
