.super-modal-mask {
  z-index: 100007;
}
.close-btn {
  color: #6d6d6d;
}
.footer {
  display: none;
}
.super-upsell {
  height: auto;
}
.bg-refer-btn {
  background-color: #9a4292;
}
.slick-slider .slick-arrow {
  position: absolute;
  top: 0.375rem;
  cursor: pointer;
  line-height: 1.25rem;
}
.slick-slider .slick-arrow:before {
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 164 2 / var(--tw-bg-opacity));
  padding: 0.125rem 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.slick-slider .slick-arrow.slick-prev {
  z-index: 1;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  display: none;
}
.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
